<div class="footer">
  <div class="summary">
    <div class="logo">
      <img src="<%= url('/images/colorful_logo.png') %>" alt="logo"/>
    </div>
    <div class="information basic-info">
      <div class="title">
        公司概况
      </div>
      <div class="links">
        <a href="#">陕西恒富源林业有限公司</a>
        <a href="#">战略合作单位</a>
        <a href="#">公司规模</a>
        <a href="#">研究中心</a>
      </div>
      <div class="links">
        <a href="#">陕西秦山核桃专业合作社</a>
        <a href="#">公司理念</a>
        <a href="#">专利和特色产品</a>
        <a href="#">研究骨干</a>
      </div>
    </div>
    <div class="information projects">
      <div class="title">
        项目情况
      </div>
      <div class="links">
        <a href="#">药用植物及经济作物新型苗孵化基地及推广种植</a>
        <a href="#">镇安秦岭山区5000亩树莓基地建设</a>
        <a href="#">商洛市镇安县1000亩七叶树基地建设</a>
        <a href="#">镇安县板栗种植及深加工产业化</a>
      </div>
    </div>
    <div class="information products">
      <div class="title">
        产品展示
      </div>
      <div class="links">
        <a href="#">农产品</a>
        <a href="#">深加工产品</a>
      </div>
    </div>
  </div>
  <div class="contact">
    <span>联系我们</span>
    <span class="phone">029-86103367</span>
    <span class="address">陕西，镇安，中小企业孵化园8号；销售公司:西安赛高国际321001室。</span>
  </div>
  <div class="copy-right">
    <span>Copyright © 2009–2015 YICHENGSHENGWU</span>
  </div>
</div>
</body>
</html>