<div class="show-case">
  <div class="slogan">
    <div class="title">
    </div>
  </div>
  <div class="features">
    <div class="foreword">
      <span>我们专注且执着于这些事情...</span>
    </div>
    <div class="feature feature1" ng-mouseenter="hovered1 = true" ng-mouseleave="hovered1 = false">
      <i></i>
      <span class="title">药用植物粗加工及推广种植</span>
    </div>
    <div class="feature feature2" ng-mouseenter="hovered2 = true" ng-mouseleave="hovered2 = false">
      <i></i>
      <span class="title">经济作物加工</span>
    </div>
    <div class="feature feature3" ng-mouseenter="hovered3 = true" ng-mouseleave="hovered3 = false">
      <i></i>
      <span class="title">珍稀植物生物提取</span>
      <span class="explanation" ng-if="hovered3">通过分析实验，从植物种子中提取高经济价值物质</span>
    </div>
  </div>
</div>
<div class="background">
</div>
<div class="achievements">
  <div class="foreword">
    <span>我们拥有这样的优势和成就</span>
  </div>
  <div class="achievement incubating">
    <div class="icon">
      <img src="<%= url('/images/incubating.png') %>" alt="incubating"/>
    </div>
    <span class="title">科技孵化</span>
    <span class="desc">多项提取与培养专利技术</span>
  </div>
  <div class="achievement scale">
    <div class="icon">
      <img src="<%= url('/images/scale.png') %>" alt="scale"/>
    </div>
    <span class="title">公司规模</span>
    <span class="desc">超大型生产加工厂房与</span>
    <span class="desc">研发中心</span>
  </div>
  <div class="achievement cultivation">
    <div class="icon">
      <img src="<%= url('/images/cultivation.png') %>" alt="cultivation"/>
    </div>
    <span class="title">培育基地</span>
    <span class="desc">实现有机化全产业链</span>
  </div>
</div>
