<div class="company-intro">
  <div class="company1">
    <h2>陕西恒富源林业有限公司</h2>
    <div class="info">
      <ul>
        <li>2007年注册，注册资金330万元</li>
        <li>林权7000余亩，快繁基地8个大棚，展示大厅一个，种植大棚35个</li>
        <li>种植示范基地4个</li>
        <li>蓝莓树莓基地</li>
        <li>快繁基地</li>
        <li>七叶树基地</li>
        <li>经济药用植物基地</li>
      </ul>
    </div>
  </div>
  <div class="company2">
    <h2>陕西奕诚生物科技有限公司</h2>
    <div class="info">
      <ul>
        <li>2014年4月注册，注册资金300万元</li>
        <li>生产加工厂房2000平米</li>
        <li>研发中心一个</li>
        <li>战略合作单位4个</li>
        <li>药用植物的粗加工</li>
        <li>经济作物的加工</li>
        <li>珍惜植物的生物提取</li>
      </ul>
    </div>
  </div>
  <div class="company3">
    <h2>陕西秦山核桃专业合作社</h2>
    <div class="info">
      <ul>
        <li>2009年3月注册，注册资金300万元</li>
        <li>社员139人</li>
        <li>面积2000余亩</li>
        <li>核桃生产加工基地</li>
      </ul>
    </div>
  </div>
  <div class="cooperative">
    <h2>战略合作单位</h2>
    <ul>
      <li>西安岳达植物科技有限公司：新产品的开发、销售</li>
      <li>西北农林科技大学：植物的快繁及种植</li>
      <li>西安交通大学：企业管理、销售</li>
      <li>清华大学生物系：新产品的检测分析</li>
    </ul>
  </div>
  <div class="moto">
    <h2>公司理念</h2>
    <span>科技融入栗乡，奕诚必出精品</span>
  </div>
  <div class="size">
    <h2>公司规模</h2>
    <p>
      公司目前拥有核桃基地3500亩，板栗基地3000亩，树莓、蓝莓、灯笼果、紫锥菊、美洲黄芪等1100亩。阳光温室900平方，温室大棚500平方，阳光大棚占地30亩（55个）。
    </p>
    <p>
      研发中心位于国家技术研发中心，面积3000多平方，设备齐全仅2014年一次性补充设备就投资了1100万。
    </p>
    <p>
      生产工厂位于秦岭山区镇安县云镇，优质的空气质量加上绿色有机的原材料，用科学的生产工艺生产出来的产品不仅口感香醇更利于健康。工厂1800平方。
    </p>
    <p>
      展示区从台湾引进的蔬菜有紫背天葵、降压菜、救心菜、迷迭香、台湾薄荷等27种蔬菜。公司着重研发功能性食品，把秦岭山区绿色有机的山特产品融入高科技技术。
    </p>
    <p>
      使产品不但绿色有机并有一定的治疗功能，真正的做到药食同源。公司目前员工37人，本科以上学历的占公司一半以上。
    </p>
  </div>
  <div class="patent">
    <h2>专利和特色产品</h2>
    <ul>
      <li>一种从红树莓叶子中提取黄酮类物质的高效环保方法</li>
      <li>一种美国红树莓苗的无激素培养及快速繁殖方法</li>
      <li>一种富硒富锗果蔬喷洒液及其制备方法</li>
      <li>一种快速繁殖铁皮石斛苗的方法</li>
    </ul>
  </div>
  <div class="research-status">
    <h2>研究中心</h2>
    <p>
      建立了分析实验室，购置了高效液相色谱仪、紫外-可见分光度计、水分分析仪、蛋白质测定仪、熔点仪、旋光仪、霉菌培养箱、显微镜等检测设备，确保产品的各项指标均能达到标准要求。
    </p>
    <h2>研究骨干</h2>
    <ul>
      <li>胡歩超，61岁，本科学历，曾在华南植物研究所任职，现公司基地技术负责人。</li>
      <li>张志勤，40岁，硕士学历，主要研究中药材的品种选育及规范化栽培技术研究和植物生物技术研究。</li>
      <li>李璞，47岁，西安医科大学硕士毕业，主要负责生物产品的研发工作。</li>
      <li>董全喜，55岁，农艺师，主要负责苗木种植栽培。</li>
      <li>张天，34岁，防化研究院生物专业博士毕业，主要负责植物生物提取工作。公司技术研发总监。</li>
      <li>吴新明，34岁，西北工业大学材料学专业博士毕业，主要负责公司的新产品的提取和开发工作。公司技术研发副总监。</li>
      <li>戈军，32岁，清华大学生物系副教授，博士，公司项目研发顾问。</li>
    </ul>
  </div>
</div>
