<div class="products">
  <div class="agricultural-products">
    <h2>农产品</h2>
    <ul>
      <li>樱桃</li>
      <li>核桃</li>
      <li>板栗</li>
      <li>树莓</li>
      <li>蓝莓</li>
      <li>灯笼果</li>
      <li>紫锥菊</li>
      <li>美洲黄芪</li>
    </ul>
  </div>
  <div class="processed-products">
    <h2>深加工产品</h2>
    <ul>
      <li>糖炒板栗</li>
      <li>开口笑板栗</li>
      <li>板栗仁小食品</li>
      <li>速冻出口板栗仁</li>
      <li>板栗粉</li>
      <li>板栗粉小食品</li>
    </ul>
  </div>
</div>