<div id="projects">
  <div class="project-links row">
    <hr class="left"/>
    <a href="?project_id=1" id="project-link-1">药用植物及经济作物新型苗孵化基地及推广种植</a>
    <a href="?project_id=2" id="project-link-2">镇安秦岭山区5000亩树莓基地建设</a>
    <a href="?project_id=3" id="project-link-3">商洛市镇安县1000亩七叶树基地建设</a>
    <a href="?project_id=4" class="active" id="project-link-4">镇安县板栗种植及深加工产业化</a>
    <hr class="right"/>
  </div>
  <div class="project" id="project-4">
    <div class="slogan">
      <img src="<%= url('/images/project/project-4-slogan.png') %>" alt="镇安县板栗种植及深加工产业化"/>
    </div>
    <div class="content">
      <div id="constructions">
        <div class="title">
          <span>建设内容</span>
        </div>
      </div>
      <div id="advantages">
        <div class="title">
          <div class="icon icon-project-advantages"></div>
          <div class="name">项目特色及优势</div>
        </div>
        <div class="advantage">
          <span>规模大、面积大，本项目在镇安县开发5000亩的板栗种植及深加工产业化。</span>
        </div>
        <div class="advantage">
          <span>成立合作社，带动周边农民收入及经济效率。</span>
        </div>
        <div class="advantage">
          <span>技术含量高，组装研究人员开发一批板栗的深加工产品，为提高板栗的附加值提供了多项选择。</span>
        </div>
        <div class="advantage">
          <span>新建大型冷库，为板栗的存储及周边农作物的存储保鲜提供解决办法。</span>
        </div>
        <div class="advantage">
          <span>项目从成立合作社、板栗种植、深加工、存储、销售展示了一整套产业化链条，为陕南林业产业模式提供了借鉴。</span>
        </div>
      </div>
      <div class="background"></div>
    </div>
  </div>
</div>
