.icon {
  display: inline-block;
}

.icon.icon-index-incubating {
  width: 89px;
  height: 83px;
  background: url('/images/index/index-incubating.png') no-repeat center;
}

.icon.icon-index-scale {
  width: 128px;
  height: 80px;
  background: url('/images/index/index-scale.png') no-repeat center;
}

.icon.icon-index-cultivation {
  width: 96px;
  height: 68px;
  background: url('/images/index/index-cultivation.png') no-repeat center;
}

.icon.icon-footer-phone {
  width: 28px;
  height: 28px;
  background: url("/images/footer/footer-phone.png") no-repeat;
}

.icon.icon-footer-location {
  width: 28px;
  height: 28px;
  background: url("/images/footer/footer-location.png") no-repeat;
}

.icon.icon-info-research {
  width: 58px;
  height: 36px;
  background: url("/images/information/info-research.png") no-repeat center;
}

.icon.icon-info-patent {
  width: 89px;
  height: 83px;
  background: url("/images/information/info-patent.png") no-repeat center;
}

.icon.icon-info-cooperatives {
  width: 113px;
  height: 106px;
  background: url("/images/information/info-cooperatives.png") no-repeat center;
}

.icon.icon-project-advantages {
  width: 58px;
  height: 67px;
  background: url("/images/project/project-advantages.png") no-repeat center;
}

.icon.icon-project-tech-features {
  width: 57px;
  height: 63px;
  background: url("/images/project/project-tech-features.png") no-repeat center;
}

.icon.icon-project-tech-advantages {
  width: 57px;
  height: 63px;
  background: url("/images/project/project-tech-advantages.png") no-repeat center;
}

.icon.icon-project-eco-feature {
  width: 57px;
  height: 63px;
  background: url("/images/project/project-eco-feature.png") no-repeat center;
}

.icon.icon-project-effect {
  width: 57px;
  height: 63px;
  background: url("/images/project/project-effect.png") no-repeat center;
}

.icon.icon-project-construction-first {
  width: 11px;
  height: 27px;
  background: url("/images/project/construction-first.png") no-repeat;
}

.icon.icon-project-construction-second {
  width: 18px;
  height: 27px;
  background: url("/images/project/construction-second.png") no-repeat;
}

.icon.icon-project-construction-third {
  width: 16px;
  height: 26px;
  background: url("/images/project/construction-third.png") no-repeat;
}
