body {
  & > * {
    width: 980px;
    margin: 0 auto;
  }
  h2 {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.content {
  padding: 0 20px;
}

.header {
  height: 70px;
  line-height: 40px;
  padding: 14px;
  position: relative;

  .logo {
    float: left;
  }

  .navigator {
    float: right;

    .link {
      font-size: 16px;
      color: #F5F5F5;

      &:not(:last-of-type) {
        margin-right: 30px;
      }

      &.active {
        color: #D8FF00;
      }
    }
  }
}

.show-case {
  height: 551px;

  .slogan {
    margin: 88px auto 0;
    height: 90px;
    width: 468px;
    background: url("/images/slogan.png") no-repeat;
  }

  .features {
    padding-top: 75px;

    .foreword {
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 35px;
    }

    .feature {
      position: relative;
      float: left;
      width: 210px;
      height: 210px;
      font-size: 16px;
      color: #D8FF00;
      margin: 0 58px;

      span {
        display: inline-block;
        width: 70px;
        font-weight: bold;
      }

      &:hover {
        color: #96D500;
        background: url("/images/feature-hover-circle.png") no-repeat;

        &.feature1 {
          i {
            position: absolute;
            left: 125px;
            top: 45px;
            background: url("/images/feature1-hover.png") no-repeat;
          }

          .title {
            position: relative;
            left: 53px;
            top: 34px;
          }
        }

        &.feature2 {
          i {
            position: absolute;
            left: 60px;
            top: 37px;
            background: url("/images/feature2-hover.png") no-repeat;
          }

          .title {
            position: relative;
            left: 96px;
            top: 34px;
          }
        }

        &.feature3 {
          i {
            position: absolute;
            left: 55px;
            top: 30px;
            background: url("/images/feature3-hover.png") no-repeat;
          }

          .title {
            position: relative;
            left: 97px;
            top: 34px;
          }
        }
      }

      &.feature1 {
        i {
          position: absolute;
          left: 84px;
          top: 0;
          width: 174px;
          height: 194px;
          background: url("/images/feature1.png");
        }
      }

      &.feature2 {
        .title {
          position: relative;
          left: 175px;
          top: 15px;
        }

        i {
          position: absolute;
          left: 28px;
          top: 0;
          width: 132px;
          height: 194px;
          background: url("/images/feature2.png");
        }
      }

      &.feature3 {
        .title {
          position: relative;
          left: 138px;
          top: 15px;
        }

        .explanation {
          font-size: 16px;
          color: #737373;
          position: relative;
          left: 35px;
          top: 60px;
          width: 140px;
          text-align: center;
        }

        i {
          position: absolute;
          left: 50px;
          top: 0;
          width: 144px;
          height: 193px;
          background: url("/images/feature3.png");
        }
      }

    }
  }
}

.background {
  z-index: -1;
  background: url('/images/homepage-background.png') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 709px;
}

.achievements {
  height: 240px;

  .foreword {
    padding: 20px;
    color: #737373;
    text-align: center;
  }

  .achievement {
    float: left;;
    width: 326px;
    height: 150px;

    & > span {
      display: block;
      text-align: center;
    }

    .icon {
      margin: 0 auto 20px;
      height: 85px;
    }

    &.incubating .icon {
      width: 89px;
    }

    &.scale .icon {
      width: 128px;
      position: relative;
      left: 25px;
    }

    &.cultivation .icon {
      width: 96px;

      img {
        position: relative;
        top: 7px;
      }
    }

    .title {
      font-size: 18px;
      color: #333333;
    }

    .desc {
      font-size: 14px;
      color: #737373;
    }
  }
}

.footer {
  width: 100%;
  background-color: #B8C4CC;
  height: 282px;

  & > div {
    width: 980px;
    margin: 0 auto;
  }

  .summary {
    padding: 30px 0;
    height: 192px;

    & > div {
      display: inline-block;
      float: left;
    }

    .logo {
      width: 71px;
      margin-right: 90px;
    }

    .information {
      &:not(:last-of-type) {
        margin-right: 60px;
      }

      .title {
        font-size: 16px;
        font-weight: bold;
        color: #1D2124;
      }

      .links {
        width: 155px;
        margin-top: 10px;
        display: inline-block;

        &:not(:last-of-type) {
          margin-right: 30px;
        }

        a {
          display: block;
          color: #3D454A;
        }
      }

      &.projects {
        .links {
          width: 238px;
        }
      }

      &.products {
        .links {
          width: 100px;
        }
      }
    }
  }

  .contact {
    color: #3D454A;

    span {
      padding-right: 15px;
    }

    .phone, .address {
      display: inline-block;
      padding-left: 35px;
      height: 30px;
      line-height: 30px;
    }

    .phone {
      background: url("/images/phone.png") no-repeat;
    }

    .address {
      background: url("/images/address.png") no-repeat;
    }
  }

  .copy-right {
    color: #3D454A;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}